USE [RYPX]
GO
/****** Object:  User [synergydatauser]    Script Date: 2026-02-14 12:14:40 ******/
CREATE USER [synergydatauser] FOR LOGIN [synergydatauser] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [synergydatauser]
GO
/****** Object:  Table [dbo].[FinishCert]    Script Date: 2026-02-14 12:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FinishCert](
	[CertificateCode] [varchar](100) NOT NULL,
	[ValidEndDate] [datetime] NOT NULL,
	[PostTypeName] [varchar](100) NULL,
	[PostName] [varchar](100) NULL,
	[WorkerCertificateCode] [varchar](100) NOT NULL,
	[WorkerName] [nvarchar](100) NULL,
	[CreateTime] [datetime] NOT NULL,
	[Period] [int] NULL DEFAULT ((2400)),
	[FinishPeriod] [int] NULL,
	[FinishDate] [datetime] NULL,
	[StudyStatus] [int] NOT NULL,
 CONSTRAINT [PK276_1] PRIMARY KEY CLUSTERED 
(
	[CertificateCode] ASC,
	[ValidEndDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FinishSourceWare]    Script Date: 2026-02-14 12:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FinishSourceWare](
	[WorkerCertificateCode] [varchar](100) NOT NULL,
	[SourceID] [bigint] NOT NULL,
	[LearnTime] [datetime] NOT NULL,
	[Period] [int] NOT NULL,
	[FinishPeriod] [int] NULL,
	[WorkerName] [nvarchar](100) NULL,
	[StudyStatus] [int] NULL,
	[PlayAction] [int] NULL,
 CONSTRAINT [PK14_1] PRIMARY KEY CLUSTERED 
(
	[WorkerCertificateCode] ASC,
	[SourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FinishSourceWare1]    Script Date: 2026-02-14 12:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FinishSourceWare1](
	[WorkerCertificateCode] [varchar](100) NOT NULL,
	[SourceID] [bigint] NOT NULL,
	[LearnTime] [datetime] NOT NULL,
	[Period] [int] NOT NULL,
	[FinishPeriod] [int] NULL,
	[WorkerName] [nvarchar](100) NULL,
	[StudyStatus] [int] NULL,
	[PlayAction] [int] NULL,
 CONSTRAINT [PK14_11] PRIMARY KEY CLUSTERED 
(
	[WorkerCertificateCode] ASC,
	[SourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[FinishSourceWareHis]    Script Date: 2026-02-14 12:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FinishSourceWareHis](
	[HisID] [bigint] IDENTITY(1,1) NOT NULL,
	[HisDate] [datetime] NULL,
	[WorkerCertificateCode] [varchar](100) NOT NULL,
	[SourceID] [bigint] NOT NULL,
	[LearnTime] [datetime] NOT NULL,
	[Period] [int] NOT NULL,
	[FinishPeriod] [int] NULL,
	[WorkerName] [nvarchar](100) NOT NULL,
	[StudyStatus] [int] NOT NULL,
	[PlayAction] [int] NULL,
 CONSTRAINT [PK14_1_1] PRIMARY KEY CLUSTERED 
(
	[HisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IndexSource]    Script Date: 2026-02-14 12:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IndexSource](
	[SourceID] [bigint] NOT NULL,
	[SortID] [int] NULL,
 CONSTRAINT [PK_IndexSource] PRIMARY KEY CLUSTERED 
(
	[SourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Package]    Script Date: 2026-02-14 12:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Package](
	[PackageID] [bigint] IDENTITY(1,1) NOT NULL,
	[PackageTitle] [varchar](200) NOT NULL,
	[Period] [int] NULL CONSTRAINT [DF__Package__Period__1273C1CD]  DEFAULT ((2400)),
	[Description] [varchar](4000) NULL,
	[Status] [varchar](100) NOT NULL,
	[PostTypeName] [varchar](100) NULL,
	[PostName] [varchar](100) NULL,
 CONSTRAINT [PK29] PRIMARY KEY CLUSTERED 
(
	[PackageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PackageSource]    Script Date: 2026-02-14 12:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PackageSource](
	[SourceID] [bigint] NOT NULL,
	[PackageID] [bigint] NOT NULL,
	[SortID] [int] NOT NULL,
	[SourceYear] [int] NULL,
 CONSTRAINT [PK30_2] PRIMARY KEY CLUSTERED 
(
	[SourceID] ASC,
	[PackageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ReEducateCertificate]    Script Date: 2026-02-14 12:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ReEducateCertificate](
	[ReEducateCertificateID] [bigint] IDENTITY(1,1) NOT NULL,
	[CertificateCode] [varchar](100) NOT NULL,
	[PostTypeName] [varchar](100) NULL,
	[PostName] [varchar](100) NULL,
	[ConferDate] [datetime] NULL,
	[ValidEndDate] [datetime] NULL,
	[WorkerName] [varchar](100) NOT NULL,
	[WorkerCertificateCode] [varchar](100) NOT NULL,
	[ReEducateCertificateCode] [varchar](100) NOT NULL,
	[ReEducateConferDate] [datetime] NOT NULL,
	[Period] [int] NOT NULL,
	[PackageID] [bigint] NOT NULL,
	[PackageTitle] [varchar](200) NOT NULL,
	[TestStatus] [varchar](100) NOT NULL,
	[PackageYear] [int] NULL,
 CONSTRAINT [PK11_3] PRIMARY KEY CLUSTERED 
(
	[ReEducateCertificateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Source]    Script Date: 2026-02-14 12:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Source](
	[SourceID] [bigint] IDENTITY(1,1) NOT NULL,
	[SourceName] [nvarchar](200) NOT NULL,
	[Teacher] [varchar](100) NULL,
	[WorkUnit] [varchar](200) NULL,
	[SourceType] [varchar](100) NULL,
	[Status] [varchar](100) NULL,
	[Description] [varchar](4000) NULL,
	[ParentSourceID] [bigint] NULL,
	[SortID] [int] NOT NULL,
	[Period] [int] NOT NULL CONSTRAINT [DF__Source__Period__1920BF5C]  DEFAULT ((0)),
	[SourceWareCount] [int] NOT NULL CONSTRAINT [DF__Source__SourceWa__1A14E395]  DEFAULT ((0)),
	[SourceWareUrl] [varchar](1000) NULL,
	[SourceWarePlayParam] [varchar](200) NULL,
	[SourceYear] [int] NULL CONSTRAINT [DF__Source__SourceYe__1B0907CE]  DEFAULT ((2011)),
	[Lab] [varchar](256) NULL,
	[BarType] [varchar](128) NULL,
	[SourceImg] [varchar](256) NULL,
	[ShowPeriod] [decimal](18, 1) NULL,
 CONSTRAINT [PK17_1] PRIMARY KEY CLUSTERED 
(
	[SourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TJ_Visit]    Script Date: 2026-02-14 12:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TJ_Visit](
	[TJ_Year] [int] NOT NULL,
	[TJ_Count] [bigint] NULL,
 CONSTRAINT [PK289] PRIMARY KEY CLUSTERED 
(
	[TJ_Year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TrainQuestion]    Script Date: 2026-02-14 12:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TrainQuestion](
	[QuestionID] [bigint] IDENTITY(1,1) NOT NULL,
	[QuestionType] [varchar](100) NOT NULL,
	[Title] [varchar](8000) NOT NULL,
	[Score] [int] NOT NULL,
	[Answer] [varchar](50) NOT NULL,
	[Flag] [varchar](100) NOT NULL,
	[LastModifyTime] [datetime] NOT NULL,
	[QuestionNo] [varchar](16) NULL,
	[SourceID] [bigint] NULL,
 CONSTRAINT [PK62] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TrainQuestOption]    Script Date: 2026-02-14 12:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TrainQuestOption](
	[QuestOptionID] [bigint] IDENTITY(1,1) NOT NULL,
	[QuestionID] [bigint] NOT NULL,
	[OptionNo] [varchar](1) NOT NULL,
	[OptionContent] [varchar](8000) NOT NULL,
 CONSTRAINT [PK63] PRIMARY KEY CLUSTERED 
(
	[QuestOptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WorkerSet]    Script Date: 2026-02-14 12:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[WorkerSet](
	[WorkerCertificateCode] [varchar](100) NOT NULL,
	[SaveSource] [varchar](max) NULL,
 CONSTRAINT [PK_WorkerSet] PRIMARY KEY CLUSTERED 
(
	[WorkerCertificateCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[View_FinishSourceWare]    Script Date: 2026-02-14 12:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_FinishSourceWare]
AS
SELECT f.[WorkerCertificateCode]
	  ,s.SourceName
      ,f.[SourceID]
      ,f.[LearnTime]
      ,f.[Period]
      ,f.[FinishPeriod]
      ,f.[WorkerName]
      ,f.[StudyStatus]
      ,f.[PlayAction]
	  ,PostTypeName=(
			select replace(','+		                                    (
			select distinct ',' + p.PostTypeName
			from [dbo].[Package] p
			inner join [dbo].[PackageSource] ps on p.PackageID = ps.PackageID
			inner join [dbo].[Source] s2 on ps.SourceID = s2.ParentSourceID
			where s2.SourceID = s.SourceID
			for xml path('')
		 ),',,','')
	  )
  FROM [dbo].[FinishSourceWare] f
  inner join [dbo].[Source] s on f.SourceID = s.SourceID


GO
/****** Object:  View [dbo].[View_TrainQuestion]    Script Date: 2026-02-14 12:14:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_TrainQuestion]
AS
 select 
    q.QuestionID,
    q.QuestionType,
    q.Title,
    a.[Option],
    q.Score,
    q.Answer,
    q.Flag,
    q.LastModifyTime,
	q.[QuestionNo],
	q.[SourceID]
  from [TrainQuestion] q left join
  (
		Select
　　		  [QuestionID],
　　		  STUFF(
　　　　　　		  (
　　　　　　　　　		 SELECT ';' + T.[OptionNo] + ' ' + [OptionContent]
　　　　　　　　　		 FROM [TrainQuestOption] T
　　　　　　　　　		 WHERE A.[QuestionID] = T.[QuestionID]
　　　　　　　　　		 FOR XML PATH('')
　　　　　　		  ), 1, 1, ''
　　　　　		 ) as 'Option' 
		FROM [TrainQuestOption] A
		Group by  [QuestionID]
  ) a on  q.[QuestionID] = a.[QuestionID]



GO
ALTER TABLE [dbo].[FinishSourceWare]  WITH CHECK ADD  CONSTRAINT [RefSource102] FOREIGN KEY([SourceID])
REFERENCES [dbo].[Source] ([SourceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FinishSourceWare] CHECK CONSTRAINT [RefSource102]
GO
ALTER TABLE [dbo].[PackageSource]  WITH CHECK ADD  CONSTRAINT [RefPackage99] FOREIGN KEY([PackageID])
REFERENCES [dbo].[Package] ([PackageID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PackageSource] CHECK CONSTRAINT [RefPackage99]
GO
ALTER TABLE [dbo].[PackageSource]  WITH CHECK ADD  CONSTRAINT [RefSource100] FOREIGN KEY([SourceID])
REFERENCES [dbo].[Source] ([SourceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PackageSource] CHECK CONSTRAINT [RefSource100]
GO
ALTER TABLE [dbo].[ReEducateCertificate]  WITH CHECK ADD  CONSTRAINT [RefPackage98] FOREIGN KEY([PackageID])
REFERENCES [dbo].[Package] ([PackageID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReEducateCertificate] CHECK CONSTRAINT [RefPackage98]
GO
ALTER TABLE [dbo].[TrainQuestion]  WITH CHECK ADD  CONSTRAINT [RefSource108] FOREIGN KEY([SourceID])
REFERENCES [dbo].[Source] ([SourceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrainQuestion] CHECK CONSTRAINT [RefSource108]
GO
ALTER TABLE [dbo].[TrainQuestOption]  WITH CHECK ADD  CONSTRAINT [RefTrainQuestion106] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[TrainQuestion] ([QuestionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TrainQuestOption] CHECK CONSTRAINT [RefTrainQuestion106]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'证书编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishCert', @level2type=N'COLUMN',@level2name=N'CertificateCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'有效期止' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishCert', @level2type=N'COLUMN',@level2name=N'ValidEndDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'专业类别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishCert', @level2type=N'COLUMN',@level2name=N'PostTypeName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'专业' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishCert', @level2type=N'COLUMN',@level2name=N'PostName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'证件号码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishCert', @level2type=N'COLUMN',@level2name=N'WorkerCertificateCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishCert', @level2type=N'COLUMN',@level2name=N'WorkerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishCert', @level2type=N'COLUMN',@level2name=N'CreateTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'要求完成学时（分钟）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishCert', @level2type=N'COLUMN',@level2name=N'Period'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'完成学时（分钟）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishCert', @level2type=N'COLUMN',@level2name=N'FinishPeriod'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'学习达标时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishCert', @level2type=N'COLUMN',@level2name=N'FinishDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'学习状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishCert', @level2type=N'COLUMN',@level2name=N'StudyStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'学习证明' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishCert'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'证件号码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishSourceWare', @level2type=N'COLUMN',@level2name=N'WorkerCertificateCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'课程ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishSourceWare', @level2type=N'COLUMN',@level2name=N'SourceID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后学习时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishSourceWare', @level2type=N'COLUMN',@level2name=N'LearnTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'学时（分钟）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishSourceWare', @level2type=N'COLUMN',@level2name=N'Period'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'完成学时（秒）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishSourceWare', @level2type=N'COLUMN',@level2name=N'FinishPeriod'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishSourceWare', @level2type=N'COLUMN',@level2name=N'WorkerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'测试状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishSourceWare', @level2type=N'COLUMN',@level2name=N'StudyStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'播放状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishSourceWare', @level2type=N'COLUMN',@level2name=N'PlayAction'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'学习记录' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishSourceWare'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'证件号码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishSourceWareHis', @level2type=N'COLUMN',@level2name=N'WorkerCertificateCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'课程ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishSourceWareHis', @level2type=N'COLUMN',@level2name=N'SourceID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后学习时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishSourceWareHis', @level2type=N'COLUMN',@level2name=N'LearnTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'学时（分钟）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishSourceWareHis', @level2type=N'COLUMN',@level2name=N'Period'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'完成学时（秒）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishSourceWareHis', @level2type=N'COLUMN',@level2name=N'FinishPeriod'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'姓名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishSourceWareHis', @level2type=N'COLUMN',@level2name=N'WorkerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'测试状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishSourceWareHis', @level2type=N'COLUMN',@level2name=N'StudyStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'播放状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FinishSourceWareHis', @level2type=N'COLUMN',@level2name=N'PlayAction'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'课程包ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Package', @level2type=N'COLUMN',@level2name=N'PackageID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'培训计划名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Package', @level2type=N'COLUMN',@level2name=N'PackageTitle'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'要求完成学时（分钟）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Package', @level2type=N'COLUMN',@level2name=N'Period'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'课程简介' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Package', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Package', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'专业类别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Package', @level2type=N'COLUMN',@level2name=N'PostTypeName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'专业' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Package', @level2type=N'COLUMN',@level2name=N'PostName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'培训计划（课程包）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Package'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'课程ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PackageSource', @level2type=N'COLUMN',@level2name=N'SourceID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'课程包ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PackageSource', @level2type=N'COLUMN',@level2name=N'PackageID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序索引' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PackageSource', @level2type=N'COLUMN',@level2name=N'SortID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'年度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PackageSource', @level2type=N'COLUMN',@level2name=N'SourceYear'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'课程包明细（包含课程）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PackageSource'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'课程ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Source', @level2type=N'COLUMN',@level2name=N'SourceID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'课程名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Source', @level2type=N'COLUMN',@level2name=N'SourceName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'授课教师' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Source', @level2type=N'COLUMN',@level2name=N'Teacher'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'工作单位' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Source', @level2type=N'COLUMN',@level2name=N'WorkUnit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'课程类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Source', @level2type=N'COLUMN',@level2name=N'SourceType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Source', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'课程简介' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Source', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'上级课程ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Source', @level2type=N'COLUMN',@level2name=N'ParentSourceID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序索引' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Source', @level2type=N'COLUMN',@level2name=N'SortID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'学时（分钟）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Source', @level2type=N'COLUMN',@level2name=N'Period'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'课件数量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Source', @level2type=N'COLUMN',@level2name=N'SourceWareCount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'课程地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Source', @level2type=N'COLUMN',@level2name=N'SourceWareUrl'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'课程播放参数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Source', @level2type=N'COLUMN',@level2name=N'SourceWarePlayParam'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'年度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Source', @level2type=N'COLUMN',@level2name=N'SourceYear'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'内容方向' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Source', @level2type=N'COLUMN',@level2name=N'Lab'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'所在栏目' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Source', @level2type=N'COLUMN',@level2name=N'BarType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'背景图片' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Source', @level2type=N'COLUMN',@level2name=N'SourceImg'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'显示学时' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Source', @level2type=N'COLUMN',@level2name=N'ShowPeriod'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'课程及课件' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Source'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'年度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TJ_Visit', @level2type=N'COLUMN',@level2name=N'TJ_Year'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'访问量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TJ_Visit', @level2type=N'COLUMN',@level2name=N'TJ_Count'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'访问量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TJ_Visit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'试题ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainQuestion', @level2type=N'COLUMN',@level2name=N'QuestionID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'试题类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainQuestion', @level2type=N'COLUMN',@level2name=N'QuestionType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'题目' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainQuestion', @level2type=N'COLUMN',@level2name=N'Title'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分数' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainQuestion', @level2type=N'COLUMN',@level2name=N'Score'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标准答案' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainQuestion', @level2type=N'COLUMN',@level2name=N'Answer'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainQuestion', @level2type=N'COLUMN',@level2name=N'Flag'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最后修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainQuestion', @level2type=N'COLUMN',@level2name=N'LastModifyTime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'试题编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainQuestion', @level2type=N'COLUMN',@level2name=N'QuestionNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'课程ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainQuestion', @level2type=N'COLUMN',@level2name=N'SourceID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'培训试题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainQuestion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'试题选项ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainQuestOption', @level2type=N'COLUMN',@level2name=N'QuestOptionID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'试题ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainQuestOption', @level2type=N'COLUMN',@level2name=N'QuestionID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'选项编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainQuestOption', @level2type=N'COLUMN',@level2name=N'OptionNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'选项内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainQuestOption', @level2type=N'COLUMN',@level2name=N'OptionContent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'培训试题选项' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TrainQuestOption'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'证件号码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkerSet', @level2type=N'COLUMN',@level2name=N'WorkerCertificateCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'收藏课程' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkerSet', @level2type=N'COLUMN',@level2name=N'SaveSource'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'个人设置' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkerSet'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -1248
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_FinishSourceWare'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_FinishSourceWare'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 5790
         Width = 3765
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_TrainQuestion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_TrainQuestion'
GO
