/*Telerik RadGrid Default Skin*/

/*global*/

.RadGrid_Blue
{
    border:1px solid #dfdfdf;
    border-radius:5px 5px;
    background:#fff;
    color:#404040;
}

.RadGrid_Blue,
.RadGrid_Blue .rgMasterTable,
.RadGrid_Blue .rgDetailTable,
.RadGrid_Blue .rgGroupPanel table,
.RadGrid_Blue .rgCommandRow table,
.RadGrid_Blue .rgEditForm table,
.RadGrid_Blue .rgPager table,
.GridToolTip_Blue
{
    font:16px/24px 'Microsoft YaHei',SimHei,simsun, Arial, Helvetica, sans-serif, Lucida Grande;
}

.RadGrid_Blue .rgHeader:first-child,
.RadGrid_Blue th.rgResizeCol:first-child,
.RadGrid_Blue .rgFilterRow>td:first-child,
.RadGrid_Blue .rgRow>td:first-child,
.RadGrid_Blue .rgAltRow>td:first-child
{
	border-left-width:0;
	padding-left:8px;
}

.RadGrid_Blue .rgAdd,
.RadGrid_Blue .rgRefresh,
.RadGrid_Blue .rgEdit,
.RadGrid_Blue .rgDel,
.RadGrid_Blue .rgFilter,
.RadGrid_Blue .rgPagePrev,
.RadGrid_Blue .rgPageNext,
.RadGrid_Blue .rgPageFirst,
.RadGrid_Blue .rgPageLast,
.RadGrid_Blue .rgExpand,
.RadGrid_Blue .rgCollapse,
.RadGrid_Blue .rgSortAsc,
.RadGrid_Blue .rgSortDesc,
.RadGrid_Blue .rgUpdate,
.RadGrid_Blue .rgCancel,
.RadGrid_Blue .rgUngroup,
.RadGrid_Blue .rgExpXLS,
.RadGrid_Blue .rgExpDOC,
.RadGrid_Blue .rgExpPDF,
.RadGrid_Blue .rgExpCSV
{
	background-image:url('Grid/sprite.gif');
}

/*header*/

.RadGrid_Blue .rgHeaderDiv
{
	background:#c7c7c7;

}

.RadGrid_Blue .rgHeader,
.RadGrid_Blue th.rgResizeCol
{
    border:0;
    /*border-bottom:1px solid #7c7c7c;
    border-left:1px solid #9e9e9e;*/
    /*background:#e4e4e4;*/
    /*background:#F2F6F7;*/
    line-height:24px;	
    border-bottom:1px solid #dddddd;
    border-left:1px solid #dddddd;
    background:#F2F6F7;
    background: -webkit-linear-gradient(#F2F6F7, #EEF2F4); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#F2F6F7, #EEF2F4); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#F2F6F7, #EEF2F4); /* Firefox 3.6 - 15 */
    background: linear-gradient(#F2F6F7, #EEF2F4); /* 标准的语法 */
    }

.RadGrid_Blue th.rgSorted0000
{
	background-color:#fffaeb;	
}

.RadGrid_Blue .rgHeader,
.RadGrid_Blue .rgHeader a
{
    color:#434343;
    font-size:16px;
    letter-spacing:1px;
    font-weight:bold;    
}

.RadGrid_Blue th.rgSorted,
.RadGrid_Blue th.rgSorted a
{
    color:#892500;
       
}

/*rows*/

.RadGrid_Blue .rgRow td,
.RadGrid_Blue .rgAltRow td,
.RadGrid_Blue .rgEditRow td,
.RadGrid_Blue .rgFooter td
{
	border-style:solid;
	border-width:0 0 1px 1px;
}

.RadGrid_Blue .rgRow td
{
	border-color: #e4e4e4;
	line-height:24px;
	
}

.RadGrid_Blue .rgAltRow
{
	background:#f3f3f3;		

}

.RadGrid_Blue .rgAltRow td
{
	border-color:#ededed #e4e4e4;
	line-height:24px;
	
}

.RadGrid_Blue .rgRow .rgSorted
{
	border-bottom-color:#fffaeb;
	background-color:#fffaeb;
}

.RadGrid_Blue .rgAltRow .rgSorted
{
	border-bottom-color:#f1ecdd;
	background-color:#f1ecdd;
}

.RadGrid_Blue .rgSelectedRow .rgSorted,
.RadGrid_Blue .rgActiveRow .rgSorted,
.RadGrid_Blue .rgHoveredRow .rgSorted,
.RadGrid_Blue .rgEditRow .rgSorted
{
	background-color:transparent;
}

.RadGrid_Blue .rgRow a,
.RadGrid_Blue .rgAltRow a,
.RadGrid_Blue tr.rgEditRow a,
.RadGrid_Blue .rgFooter a,
.RadGrid_Blue .rgEditForm a
{
	color:Blue;
	text-decoration: underline;
}

.RadGrid_Blue .rgSelectedRow
{
    background:#feefce;
    color:#ff0000;
}
*+html .RadGrid_Blue .rgSelectedRow .rgSorted{background-color:#feefce}
* html .RadGrid_Blue .rgSelectedRow .rgSorted{background-color:#feefce}

.RadGrid_Blue .rgSelectedRow a,
.RadGrid_Blue .rgHoveredRow a,
.RadGrid_Blue .rgActiveRow a
{
	color:#ff0000;
	text-decoration: underline;
}

.RadGrid_Blue .rgActiveRow,
.RadGrid_Blue .rgHoveredRow
{
    background:#fef2cd 0 -2900px repeat-x url('Grid/sprite.gif');
    color:#ff0000;
}
*+html .RadGrid_Blue .rgActiveRow .rgSorted,
*+html .RadGrid_Blue .rgHoveredRow .rgSorted{background-color:#fef2cd}
* html .RadGrid_Blue .rgActiveRow .rgSorted,
* html .RadGrid_Blue .rgHoveredRow .rgSorted{background-color:#fef2cd}

.RadGrid_Blue .rgEditRow
{
	background:#fef2cd 0 -4900px repeat-x url('Grid/sprite.gif');
	
}
*+html .RadGrid_Blue .rgEditRow .rgSorted{background-color:#fef2cd}
* html .RadGrid_Blue .rgEditRow .rgSorted{background-color:#fef2cd}

.RadGrid_Blue .rgSelectedRow td,
.RadGrid_Blue .rgSelectedRow td.rgSorted
{
	/*border-color:#e59871 #ffa517;*/
}

.RadGrid_Blue .rgActiveRow td,
.RadGrid_Blue .rgActiveRow td.rgSorted,
.RadGrid_Blue .rgHoveredRow td,
.RadGrid_Blue .rgHoveredRow td.rgSorted
{
	/*border-color:#c98400 #ffe79c;*/
}

.RadGrid_Blue .rgEditRow td,
.RadGrid_Blue .rgEditRow td.rgSorted
{
	/*border-color:#616161 #c3c3c3;*/
}

.RadGrid_Blue .rgDrag
{
	background-image:url('Grid/rgDrag.gif');
}

/*footer*/

.RadGrid_Blue .rgFooterDiv,
.RadGrid_Blue .rgFooter
{
	background:#e4e4e4;
}

.RadGrid_Blue .rgFooter td
{
	border-top:1px solid;
	border-color:#999 #c3c3c3;
}

/*status*/

.RadGrid_Blue .rgPager .rgStatus
{
	border:1px solid;
	border-color:#999 #999 #e4e4e4 #e4e4e4;
	border-left:0;
}

.RadGrid_Blue .rgStatus div
{
	background-image:url('Grid/loading_small.gif');
}

/*pager*/

.RadGrid_Blue .rgPager
{
	background:#e4e4e4;
}

.RadGrid_Blue td.rgPagerCell
{
	border:1px solid;
	border-color:#999 #e4e4e4 #e4e4e4;
	border-right:0;
}

.RadGrid_Blue .rgInfoPart
{
	color:#777;
}

.RadGrid_Blue .rgInfoPart strong
{
	color:#4c4e54;
}

.RadGrid_Blue .rgPageFirst
{
	background-position:0 -550px;
}
.RadGrid_Blue .rgPageFirst:hover
{
	background-position:0 -600px;
}
.RadGrid_Blue .rgPagePrev
{
	background-position:0 -700px;
}
.RadGrid_Blue .rgPagePrev:hover
{
	background-position:0 -750px;
}
.RadGrid_Blue .rgPageNext
{
	background-position:0 -850px;
}
.RadGrid_Blue .rgPageNext:hover
{
	background-position:0 -900px;
}
.RadGrid_Blue .rgPageLast
{
	background-position:0 -1000px;
}
.RadGrid_Blue .rgPageLast:hover
{
	background-position:0 -1050px;
}

.RadGrid_Blue .rgPager .rgPagerButton
{
	border-color:#7e7e7e;
	background:#c6c6c6;
	color:#404040;
	font:16px/18px 'Microsoft YaHei',SimHei,simsun, Arial, Helvetica, sans-serif, Lucida Grande;
}

.RadGrid_Blue .rgNumPart a
{
	border:1px solid #e4e4e4;
	line-height:24px;
	color:#404040;
}

.RadGrid_Blue .rgNumPart a:hover
{
	border-color:#c98400;
	background:#ffe79c;
	color:#892500;
}

.RadGrid_Blue .rgNumPart a.rgCurrentPage,
.RadGrid_Blue .rgNumPart a.rgCurrentPage:hover
{
	border-color:#ca4b0c;
	background:transparent;
	color:#892500;
}

/*sorting, reordering*/

.RadGrid_Blue .rgHeader .rgSortAsc
{
	background-position:3px -248px;
	height:10px;
}

.RadGrid_Blue .rgHeader .rgSortDesc
{
	background-position:3px -198px;
	height:10px;
}

.GridReorderTop_Blue,
.GridReorderBottom_Blue
{
	background:0 0 no-repeat url('Grid/sprite.gif');
}

.GridReorderBottom_Blue
{
	background-position:0 -50px;
}

/*filtering*/

.RadGrid_Blue .rgFilterRow
{
	background:#e4e4e4;
}

.RadGrid_Blue .rgFilterRow td
{
    border-bottom:1px solid #999;
    border-left:1px solid #e4e4e4;
}

.RadGrid_Blue .rgFilter
{
	background-position:0 -300px;
}

.RadGrid_Blue .rgFilter:hover
{
	background-position:0 -350px;
}

.RadGrid_Blue .rgFilterActive,
.RadGrid_Blue .rgFilterActive:hover
{
	background-position:0 -400px;
}

.RadGrid_Blue .rgFilterBox
{
	border-color:#616161;
	font:16px 'Microsoft YaHei',SimHei,simsun, Arial, Helvetica, sans-serif, Lucida Grande;
	color:#404040
}

/*filter context menu*/

.RadMenu_Blue .rgHCMClear,
.RadMenu_Blue .rgHCMFilter
{
	border-color:#7e7e7e;
	background:#c6c6c6;
	color:#404040;
	font-family:"segoe ui",arial,sans-serif;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
}

.RadMenu_Blue .rgHCMClear:hover,
.RadMenu_Blue .rgHCMFilter:hover
{
	border-color:#c98400;
	background-color:#ffe79c;
	color:#882501;
}

/*grouping*/

.RadGrid_Blue .rgGroupPanel
{
	border:0;
	border-bottom:1px solid #7c7c7c;
	background:#c6c6c6;
}

.RadGrid_Blue .rgGroupPanel td
{
	border:0;
	padding:3px 4px;
}

.RadGrid_Blue .rgGroupPanel td td
{
	padding:0;
}

.RadGrid_Blue .rgGroupPanel .rgSortAsc
{
	background-position:4px -144px;
}

.RadGrid_Blue .rgGroupPanel .rgSortDesc
{
	background-position:4px -94px;
}

.RadGrid_Blue .rgUngroup
{
	background-position:0 -6999px;
}

.RadGrid_Blue .rgGroupItem
{
	border:1px solid #7e7e7e;
	background:#c6c6c6;
}

.RadGrid_Blue .rgMasterTable td.rgGroupCol,
.RadGrid_Blue .rgMasterTable td.rgExpandCol
{
	border-color:#c9c9c9;
	background:#c9c9c9 none;
}

.RadGrid_Blue .rgGroupHeader
{
    background:#c9c9c9;
    font:16px/24px 'Microsoft YaHei',SimHei,simsun, Arial, Helvetica, sans-serif, Lucida Grande;
    line-height:24px;
	color:#404040;
}

.RadGrid_Blue .rgGroupHeader td
{
	padding-left:8px;
	padding-bottom:2px;
}

.RadGrid_Blue .rgExpand
{
	background-position:5px -496px;
}

.RadGrid_Blue .rgCollapse
{
	background-position:3px -444px;
}

/*editing*/

.RadGrid_Blue .rgEditForm
{
	border-bottom:1px solid #999;
}

.RadGrid_Blue .rgUpdate
{
	background-position:0 -1800px;
}

.RadGrid_Blue .rgCancel
{
	background-position:0 -1850px;
}

/*hierarchy*/

.RadGrid_Blue .rgDetailTable
{
	border-color:#999;
}

/*command row*/

.RadGrid_Blue .rgCommandRow
{
	/*background:#feed9c;
	color:#000;*/	
    /*background:#EDF6FB;*/

	color:#404040;  
    height:28px;  
    line-height:28px;
    background:#EDF6FB;
        background: -webkit-linear-gradient(#EDF6FB, #E4E8EE); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#EDF6FB, #E4E8EE); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#EDF6FB, #E4E8EE); /* Firefox 3.6 - 15 */
  background: linear-gradient(#EDF6FB, #E4E8EE); /* 标准的语法 */

    
}

.RadGrid_Blue .rgCommandCell
{
	border:0;
	border-bottom:1px solid #bbb;
	padding:0;	
	
}

.RadGrid_Blue tfoot .rgCommandCell,
.RadGrid_Blue .rgMasterTable>tbody>tr.rgCommandRow .rgCommandCell
{
	border-top:1px solid #a56935;
	border-bottom:0;
}

.RadGrid_Blue .rgCommandTable td
{
	border:0;
	padding:2px 7px;
	/*font-weight:bold;	*/
}

.RadGrid_Blue .rgCommandTable
{
	border:0;
}

.RadGrid_Blue .rgCommandRow a
{
	color:#404040;
	text-decoration:none;
	padding-left:5px;
	font:16px/24px 'Microsoft YaHei',SimHei,simsun, Arial, Helvetica, sans-serif, Lucida Grande;
}

.RadGrid_Blue .rgAdd
{
	margin-right:3px;
	background-position:0 -1650px;
}

.RadGrid_Blue .rgRefresh
{
	margin-right:3px;
	background-position:0 -1600px;
}

.RadGrid_Blue .rgEdit
{
	background-position:0 -1700px;
}

.RadGrid_Blue .rgDel
{
	background-position:0 -1750px;
}

.RadGrid_Blue .rgExpXLS,
.RadGrid_Blue .rgExpDOC,
.RadGrid_Blue .rgExpPDF,
.RadGrid_Blue .rgExpCSV
{
	background-image:url('Grid/export.gif');
}

.RadGrid_Blue .rgExpXLS
{
	background-position:0 0;
}
.RadGrid_Blue .rgExpDOC
{
	background-position:0 -50px;
}
.RadGrid_Blue .rgExpPDF
{
	background-position:0 -100px;
}
.RadGrid_Blue .rgExpCSV
{
	background-position:0 -150px;
}

/*multirow select*/

.GridRowSelector_Blue
{
	background:#4c4e54;
}

/*row drag n drop*/

.GridItemDropIndicator_Blue
{
    border-top:1px dashed #666;
}

/*tooltip*/

.GridToolTip_Blue
{
	border:1px solid #c98400;
	padding:3px;
	background:#ffefbd;
	color:#333;
}

/*rtl*/

.RadGridRTL_Blue .rgHeader:first-child,
.RadGridRTL_Blue th.rgResizeCol:first-child,
.RadGridRTL_Blue .rgFilterRow>td:first-child,
.RadGridRTL_Blue .rgRow>td:first-child,
.RadGridRTL_Blue .rgAltRow>td:first-child
{
	border-left-width:1px;
	padding-left:7px;
}

.RadGridRTL_Blue .rgPageFirst
{
	background-position:0 -1000px;
}
.RadGridRTL_Blue .rgPageFirst:hover
{
	background-position:0 -1050px;
}
.RadGridRTL_Blue .rgPagePrev
{
	background-position:0 -850px;
}
.RadGridRTL_Blue .rgPagePrev:hover
{
	background-position:0 -900px;
}
.RadGridRTL_Blue .rgPageNext
{
	background-position:0 -700px;
}
.RadGridRTL_Blue .rgPageNext:hover
{
	background-position:0 -750px;
}
.RadGridRTL_Blue .rgPageLast
{
	background-position:0 -550px;
}
.RadGridRTL_Blue .rgPageLast:hover
{
	background-position:0 -600px;
}

.RadGrid_Blue .rgCaption {
    background-color: #E4E4E4;
    /*background-color: #4D6082;*/
    color: #222;
    line-height: 36px;
    text-align:left;
    padding-left:20px;
}

