<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--错误日志存放路径-->
      <param name="File" value="D:\\ErrorLog\\ZYRYJG_WinService\\" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <param name="RollingStyle" value="Date" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%d]  [%c]  --  %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <!--运行库-->
    <add name="DBConnStr" connectionString="Server=.;Database=ZYRYJG;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
    <add name="DBConnStr1" connectionString="Server=172.26.60.89;Database=CJDAG_To_ZJW;User ID=cjdagtojw;Password=chjDAxxzHx8715" providerName="System.Data.SqlClient"/>
    <add name="DBConnStr2" connectionString="Server=192.168.150.109;Database=XSZX_DSJPT_R;User ID=synergydatauser;Password=synergy_p@ssword" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="startTimeHour" value="23" />
    <add key="startTimeMinutes" value="01" />
    <!--服务执行时间设置（用"|"符号分隔）：Upload_SBData二建社保比对上传服务,从业人员社保比对上传服务Upload_SBDataOfExam，Upload_SBData,10:44|Get_RY_SBJFXXCJ社保比对结果,9:08|同步注册附件文件Upload_EJJZS_File,21:30，Get_JZS建造师获取服务，Upload_SBData社保比对上传服务，GetQYZZ企业资质获取服务，DeleteTimeOutApply过期申请删除服务，InsertInterFaceLog文件接口访问日志服务，Get_RY_SBJFXXCJ社保比对结果,6:15|AgeLimit超龄注销,5:30|Upload_FiletoDFS同步证书一寸免冠照片到dfs,20:00|发送建造师续期短息提醒TipJzsContinue,12:00|发送建造师申诉短息提醒TipJzsShenSu,12:30|实操考试短信提醒TipShiCaoExam,17:00|从业人员证书业务受理审批不通过短信提醒TipShiCaoExam,17:00|发送二级造价工程师受理、审批不通过短息提醒TipZjgcsCheckFalse,8:00|发送二级造价工程师续期短息提醒TipZjgcsContinue,8:10|二级建造师有效期不足30天，无法申请延续TipJzsDisenableContinue,8:20|二级造价工程师有效期不足30天，无法申请延续TipZjgcsDisenableContinue,8:40-->
    <!--<add key="DoTimeSet" value="Upload_SBData,11:00|Upload_SBDataOfExam,12:00|Get_RY_SBJFXXCJ,9:08|Upload_EJJZS_File,21:30|GetQYZZ,1:15|DeleteTimeOutApply,1:10|InsertInterFaceLog,4:15|jxjy,5:05|AgeLimit,5:30|Upload_FiletoDFS,20:00|TJ_WLH,1:30"/>-->
    <add key="DoTimeSet" value="Upload_JZS_New,19:00|Upload_SBData,11:00|Upload_SBDataOfExam,12:00|Get_RY_SBJFXXCJ,9:08|Upload_EJJZS_File,21:30|GetQYZZ,1:15|DeleteTimeOutApply,1:10|InsertInterFaceLog,4:15|jxjy,5:05|AgeLimit,5:30|Upload_FiletoDFS,20:00|TJ_WLH,1:30|GuiWeiData,00:30|TipShiCaoExam,17:00|TipZjgcsCheckFalse,8:00|TipZjgcsContinue,8:10|TipJzsDisenableContinue,8:20|TipZjgcsDisenableContinue,8:40|TipCongContinue,7:40" />
    <!--二建web根目录-->
    <add key="ZYRYJGWebRoot" value="D:\WebRoot\ZYRYJG" />
    <!--循环服务执行时间间隔设置：功能,每几分钟执行(创建电子证书ApplyCA|发送到文件系统SendCA|写中间库WriteJHKCA|取回签章ReturnCA|市级统一电子证书签章服务IssueCA_beijing(经测试每秒签章1本)|ExamPhotoRar,上机考试考生照片打包|CheckJZSImgBackgroud,扫描检查二建证书是否为白底一寸照片
    |CreateZJS_CA生成二级造价工程师电子电子证书|SendZJS_CA发送待签章的二级造价工程师电子证书到基础库|IssueCA_ZJS调用市级电子证书签章服务_二级造价工程师|GetReturnZJS_CA取回已签章的二级造价工程师电子证书|GetCertOut,获取外省转出证书供本省转入证书信息-->
    <add key="DoTimeSpanSet" value="ApplyGather,1|CreateEJJZS_CA,1|ApplyCA,1|SendCA,1|WriteJHKCA,1|ReturnCA,1|UpdateFacePhoto,5|IssueCA_beijing,5|ExamPhotoRar,1|CheckJZSImgBackgroud,2|CreateZJS_CA,5|SendZJS_CA,5|IssueCA_ZJS,5|GetReturnZJS_CA,5|ReturnOFDCA,2|GetCertOut,1|59,TipCongYeCertApply" />
    <!--一次最大处理电子证书数量-->
    <add key="MaxCount" value="100" />
    <!--一次最大更新一寸免冠照片个数-->
    <add key="MaxCountExe" value="100" />
    <!--电子证书中间交换库数据连接-->
    <!--<add key="JHK_IP" value="[192.168.150.109]" />-->
    <add key="JHK_IP" value="" />
    <!--电子证书根目录-->
    <add key="CAFile" value="D:\WebRoot\CAFile" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="InterFaceServiceSoap" receiveTimeout="00:10:00" sendTimeout="01:00:00" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" />
        <binding name="FileServiceSoap" receiveTimeout="00:10:00" sendTimeout="01:00:00" allowCookies="true" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.5.98/SQSWeb_Silverlight/Exchage/InterFaceService.asmx" binding="basicHttpBinding" bindingConfiguration="InterFaceServiceSoap" contract="JCSJKService.InterFaceServiceSoap" name="InterFaceServiceSoap" />
      <endpoint address="http://192.168.1.211/fileservice.asmx" binding="basicHttpBinding" bindingConfiguration="FileServiceSoap" contract="FileService.FileServiceSoap" name="FileServiceSoap" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <!--<runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
        </dependentAssembly>
      </assemblyBinding>
    </runtime>-->
  </startup>
  <system.web>
    <httpRuntime executionTimeout="600" />

    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

</configuration>